.drfind {
  margin: auto;
}
html {
  background: #ffffff;
  background-size: cover;
}
body {
  background: transparent;
  font-family: 'Arial';
}
.clickable {
  cursor: pointer;
}
.appbar {
  width: 100%;
  margin-bottom: 20px;
  background-color: #888888;
}
.title {
  font-family: 'Arial';
  font-size: 24px;
  font-weight: normal;
  color: #fff;
}
.center {
  text-align: center;
}
.scrollable {
  height: 200px;
  overflow: scroll;
}
.indexNumber {
  float: left;
  font-size: 3.5em;
  color: #999;
}
.hello {
  color: #888888;
}
.goodbye {
  color: #ff0000;
}
.crap {
  color: #ff0000;
}
.test {
  color: mebad;
}
